.bg-1 {
    background-color: #E9692C; /* Orange */
    color: #ffffff;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.top-buffer {
  margin-top: 4px;
}

.container-fluid-1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-fluid-2 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.img-responsive {
    margin: 0 auto;
}

.well {
    background: #336688;
    color: #ffffff;
}

.well a{
    color: #E9692C;
}

.well a:active, a:hover{
    color: #B53389;
}
